---
import Contacts from "../components/contacts.astro";
import ExpEntry from "../components/experience-entry.astro";
import ExpHeader from "../components/experience-header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Marat Yuldashev</title>
	</head>
	<body class="p-5 sm:p-20 bg-slate-100">
		<style>
			a {
				@apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
			}
		</style>		

		<Contacts />

		<div class="py-1 sm:p-5 max-w-2xl">
			<ExpHeader>Work experience</ExpHeader>			
						
			<ExpEntry title="ML engineering, consulting. 2021-present time">
				Responsible for mathematical analysis and integration with ML
					algorithms for a private company on a project for NLMK (nlmk.com).
					The solution saved up to 7% on fuel
					consumption, increased tire mileage, and reduced environmental impact.								
			</ExpEntry>

			<ExpEntry title="Data analysis + consulting. 2016-present time.">
				Data analysis for real estate: risk evaluation (properties
					100k$-1m$, private clients).
					Calculating financial models, evaluating market opportunities, and managing key execution steps. Doubled client’s portfolio every 2 years. Data analysis for renting: calculating renovation cost, estimating future profits, researching market opportunities. Initiated and finished 6 successful projects with net profits from 8% up to 35%.
			</ExpEntry>

			<ExpEntry title="Professor 2018 - present time.">
				Saint Petersburg State University (Russia) <a href="http://spbu.ru/">spbu.ru</a>. Became one of the youngest professors at the University with a high number of international publications. h-index: 16.
				Gave lectures on Mathematical Control theory, ML, seminars on computer science, Java, React, Python, project management. Organized preparation of BSc theses at the department being responsible for problematic cases. For several years our department students have been graded at the top level (mostly A+) among others and organized students internships at IT Companies at the department (theses preparation, feedback). Annually reviewed 80+ essays (theses) in two days (MSC students applicants)
			</ExpEntry>			

			<ExpEntry title="Loyalty Plant startup. 2010-2014.">
				Backend Java Developer (Tomcat, J2SE 5(6), MySQL, JDBC,
					Hibernate, Maven). In 2014 engineered (С++) and deployed integration of mobile loyalty app with a Linux-based POS system deployed at 20+ shopping centers, which allowed to get the second largest customer (B2B) at that time. In 2015 introduced git-flow to the company with a custom IntellijIdea plugin, and researched docker integration to the development process.
			</ExpEntry>								

			<ExpHeader>Education</ExpHeader>

			<ExpEntry title="Nostrification Dr. Science 2017.">
				Nostrification as a Doctor of Science at Saint-Petersburg state university.
			</ExpEntry>

			<ExpEntry title="Ph.D. (Mathematical information technology) 2013">
				Excellent grades. <a href="https://www.jyu.fi/en/">University of Jyväskylä</a>, Faculty
				of Information Technology, Finland, 2013. MSc (Computer Science), the same faculty, 2012.
			</ExpEntry>

			<ExpEntry title="Ph.D. in Applied Math. Saint-Petersburg state university">
				Faculty of Mathematics and Mechanics. 2013.
			</ExpEntry>

			<ExpEntry title="Specialist Degree (MSC) in Mathematics and Software engineering">
				Saint-Petersburg state university, 2011.
			</ExpEntry>
			
			<ExpHeader>Skills</ExpHeader>			

			<ExpEntry title="Web dev">
				JS (Typescript), React, Java, Docker, Github, Youtrack, Confluence
			</ExpEntry>

			<ExpEntry title="ML">
				Python, Pandas, Polars, Spark, SQL, scikit-learn, pytorch, A/A/B tests, Statistics
			</ExpEntry>

			<ExpEntry title="Math">
				Linear Algebra, Calculus, Probability theory, Statistics, Optimization, Control theory, Numerical methods, Differential equations, Complex analysis, Mathematical analysis, Mathematical modeling
			</ExpEntry>							
			
			<ExpHeader>Hobbies</ExpHeader>
			<ExpEntry>
				Airbnb apartments management, investing and reinvesting in real estate, house-flipping. Electric guitar, making tube amplifiers, specialty coffee, swimming.
			</ExpEntry>		
		</div>
	</body>
</html>
