---
import selfy from './images/selfy.jpg'
---
<div class="bg-amber-100 p-5 sm:mx-10 rounded-xl max-w-xl max-h-xs flex">
    <div class="min-w-fit mr-5">
        <h1 class="text-3xl">Marat Yuldashev</h1>
        <p>Uzbekistan, Saint-Petersburg</p>

        <div class="py-3">
            <p>maratyv@gmail.com</p>		
            <p>+998917715266</p>
            <p>telegram: maratyv</p>
        </div>								
    </div>			
    <div class="ml-auto">
        <img class="rounded-xl max-h-40" src={selfy} alt="selfie">
    </div>
</div>